.css_id_aluno_det_label {text-align: left;vertical-align: middle;}
.css_id_aluno_det_line {height:0px;text-align: left;}
.css_nome_aluno_det_label {text-align: left;vertical-align: middle;}
.css_nome_aluno_det_line {height:0px;text-align: left;}
.css_curso_det_label {text-align: left;vertical-align: middle;}
.css_curso_det_line {height:0px;text-align: left;}
.css_turno_det_label {text-align: left;vertical-align: middle;}
.css_turno_det_line {height:0px;text-align: left;}
.css_matricula_det_label {text-align: left;vertical-align: middle;}
.css_matricula_det_line {height:0px;text-align: left;}
.css_cpf_det_label {text-align: left;vertical-align: middle;}
.css_cpf_det_line {height:0px;text-align: left;}
.css_celular_det_label {text-align: left;vertical-align: middle;}
.css_celular_det_line {height:0px;text-align: left;}
.css_email_det_label {text-align: left;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: left;}
