.css_id_fardamento_label { }
.css_id_fardamento_line {text-align:left;}
.css_id_fardamento_obj {text-align:left;}
.css_tamanho_pedido_label { }
.css_tamanho_pedido_line { }
.css_tamanho_pedido_obj { }
.css_quantidade_label { }
.css_quantidade_line {text-align:left;}
.css_quantidade_obj {text-align:left;}
.css_data_entregue_label { }
.css_data_entregue_line { }
.css_data_entregue_obj { }
.css_id_tamanho_label { }
.css_id_tamanho_line {text-align:left;}
.css_id_tamanho_obj {text-align:left;}
.css_id_situacao_label { }
.css_id_situacao_line {text-align:left;}
.css_id_situacao_obj {text-align:left;}
.css_aviso_label { }
.css_aviso_line {font-size:16px;color:#FF0000;}
.css_aviso_obj { }
