.css_e_data_entrega_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_e_data_entrega_grid_line {vertical-align: top;text-align: center;}
.css_e_data_devolucao_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_e_data_devolucao_grid_line {vertical-align: top;text-align: center;}
.css_e_status_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_e_status_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_sc_field_1_grid_line {vertical-align: top;text-align: left;}
