.css_e_data_entrega_det_label {text-align: left;vertical-align: middle;}
.css_e_data_entrega_det_line {height:0px;text-align: left;}
.css_e_data_devolucao_det_label {text-align: left;vertical-align: middle;}
.css_e_data_devolucao_det_line {height:0px;text-align: left;}
.css_sc_field_0_det_label {text-align: left;vertical-align: middle;}
.css_sc_field_0_det_line {height:0px;text-align: left;}
.css_sc_field_1_det_label {text-align: left;vertical-align: middle;}
.css_sc_field_1_det_line {height:0px;text-align: left;}
