.css_id_estoque_livro_det_label {text-align: left;vertical-align: middle;}
.css_id_estoque_livro_det_line {height:0px;text-align: left;}
.css_materia_det_label {text-align: left;vertical-align: middle;}
.css_materia_det_line {height:0px;text-align: left;}
.css_titulo_det_label {text-align: left;vertical-align: middle;}
.css_titulo_det_line {height:0px;text-align: left;}
.css_autor_det_label {text-align: left;vertical-align: middle;}
.css_autor_det_line {height:0px;text-align: left;}
.css_isbn_det_label {text-align: left;vertical-align: middle;}
.css_isbn_det_line {height:0px;text-align: left;}
.css_quantidade_det_label {text-align: left;vertical-align: middle;}
.css_quantidade_det_line {height:0px;text-align: left;}
.css_id_volume_det_label {text-align: left;vertical-align: middle;}
.css_id_volume_det_line {height:0px;text-align: left;}
