.css_id_estoque_livro_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_estoque_livro_grid_line {vertical-align: top;text-align: right;}
.css_materia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_materia_grid_line {vertical-align: top;text-align: right;}
.css_titulo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_titulo_grid_line {vertical-align: top;text-align: right;}
.css_autor_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_autor_grid_line {vertical-align: top;text-align: right;}
.css_isbn_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_isbn_grid_line {vertical-align: top;text-align: right;}
.css_quantidade_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_quantidade_grid_line {vertical-align: top;text-align: right;}
