.css_id_emprestimo__label {text-align:right;}
.css_id_emprestimo__line {text-align:left;}
.css_id_emprestimo__obj {text-align:left;}
.css_data_entrega__label { }
.css_data_entrega__line { }
.css_data_entrega__obj { }
.css_data_devolucao__label { }
.css_data_devolucao__line { }
.css_data_devolucao__obj { }
.css_status__label { }
.css_status__line { }
.css_status__obj { }
.css_livro__label { }
.css_livro__line { }
.css_livro__obj { }
