.css_id_emprestimo_label {text-align:right;}
.css_id_emprestimo_line {text-align:left;}
.css_id_emprestimo_obj {text-align:left;}
.css_data_entrega_label { }
.css_data_entrega_line { }
.css_data_entrega_obj { }
.css_data_devolucao_label { }
.css_data_devolucao_line { }
.css_data_devolucao_obj { }
.css_status_label { }
.css_status_line { }
.css_status_obj { }
.css_id_estoque_livro_label {text-align:right;}
.css_id_estoque_livro_line {text-align:left;}
.css_id_estoque_livro_obj {text-align:left;}
.css_id_aluno_label {text-align:right;}
.css_id_aluno_line {text-align:left;}
.css_id_aluno_obj {text-align:left;}
