.css_nome_aluno_label { }
.css_nome_aluno_line { }
.css_nome_aluno_obj { }
.css_curso_label { }
.css_curso_line { }
.css_curso_obj { }
.css_turno_label { }
.css_turno_line { }
.css_turno_obj { }
.css_matricula_label { }
.css_matricula_line { }
.css_matricula_obj { }
.css_cpf_label { }
.css_cpf_line { }
.css_cpf_obj { }
.css_celular_label { }
.css_celular_line { }
.css_celular_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_emprestimos_label { }
.css_emprestimos_line { }
.css_emprestimos_obj { }
.css_livros_label { }
.css_livros_line { }
.css_livros_obj { }
.css_data_devolucao_label { }
.css_data_devolucao_line { }
.css_data_devolucao_obj { }
.css_fardamento_label { }
.css_fardamento_line { }
.css_fardamento_obj { }
.css_paradidatico_label { }
.css_paradidatico_line { }
.css_paradidatico_obj { }
.css_data_entrega_label { }
.css_data_entrega_line { }
.css_data_entrega_obj { }
.css_livrov2_label { }
.css_livrov2_line { }
.css_livrov2_obj { }
.css_livrov3_label { }
.css_livrov3_line { }
.css_livrov3_obj { }
.css_livrovu_label { }
.css_livrovu_line { }
.css_livrovu_obj { }
.css_mensagem_label {font-family:Arial, sans-serif;font-size:18px;color:#FF0000;font-weight:bold;}
.css_mensagem_line {font-family:Arial, sans-serif;font-size:18px;color:#FF0033;font-weight:bold;}
.css_mensagem_obj {font-family:Arial, sans-serif;font-size:18px;color:#FF0000;font-weight:bold;}
.css_fardamento_ed_fis_label { }
.css_fardamento_ed_fis_line { }
.css_fardamento_ed_fis_obj { }
